@model IEnumerable<EksamenGruppe7.Models.WeatherForecast>

@{
    ViewData["Title"] = "Værmeldinger";
}

<h2>Værmeldinger</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Dato</th>
            <th>Temperatur (C&deg;)</th>
            <th>Kommentar</th>
            <th>Handlinger</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Date.ToString("dd-MM-yyyy")</td>
                <td>@item.Temperature C&deg;</td>
                <td>@item.Comment</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Oppdater</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Slett</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-action="Create">Opprett ny</a>
